.login {
  width: 50%;
}

input[type="checkbox"] {
  background-color: #f91e52;
  
}

.loginBtn, input[type="checkbox"]:checked {
  background-color: #f91e52;
  outline: none;
}

input[type="checkbox"] {
  border: 1px solid #f91e52;
  outline: none;
}

input[type="checkbox"]::after {
  border: none;
  outline: none;
}

.form-check input:not(:checked) {
  background: transparent;
  outline: none;
}

a {
  color: #f91e52;
}
