.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  opacity: 0;
  transition: all 1s;
  height: 1px;
  width: 100%;
  background-color: #f91e52;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.logout, .name, .logo {
  color: #f91e52;
  border-radius: 10px;
}
