<nav
  class="navbar sticky-top navbar-expand-lg bg-body-tertiary border-bottom"
  style="--bs-bg-opacity: 0.85"
>
  <div class="container-fluid">
    <a class="navbar-brand">
      <i class="bi bi-alexa logo"></i>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="this.authService.keepLoggedIn()"
            aria-current="page"
            routerLink="/cards"
            routerLinkActive="active"
            *ngIf="authService.isLoggedIn()"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a
            class="nav-link"
            (click)="this.authService.keepLoggedIn()"
            routerLink="/cards"
            routerLinkActive="active"
            *ngIf="authService.isLoggedIn()"
            >Feeds</a
          >
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a
            class="nav-link disabled"
            (click)="this.authService.keepLoggedIn()"
            style="cursor: pointer"
            >Carrier</a
          >
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a
            class="nav-link disabled"
            (click)="this.authService.keepLoggedIn()"
            style="cursor: pointer"
            >Contacts</a
          >
        </li>
        <li
        class="nav-item"
        (click)="authService.logOut()"
        *ngIf="authService.isLoggedIn()"
      >
        <a class="nav-link" routerLink="/entry" routerLinkActive="active">
          <i class="bi bi-door-closed logout"></i>
          Logout
        </a>
      </li>
      </ul>
    </div>
    <span class="me-3" *ngIf="authService.isLoggedIn()"
      >Welcome, <b class="name">{{ welcomeName() }}</b
      >!</span
    >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          (click)="lightClickEvent()"
          (click)="this.authService.keepLoggedIn()"
        >
          <i class="bi bi-brightness-high-fill"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          (click)="darkClickEvent()"
          (click)="this.authService.keepLoggedIn()"
        >
          <i class="bi bi-moon-fill"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
