<form class="mx-auto custom-container p-4 bg-transparent">
  <h3 class="mb-5">Registration</h3>
  <div class="alert alert-danger" role="alert" *ngIf="alreadyRegistered == true">
    This e-mail is already in use!
  </div>
  <span class="form-label">Full Name:</span>
  <div class="input-group">
    <input
      type="text"
      name="firstname"
      aria-label="First name"
      class="form-control"
      placeholder="First Name"
      [(ngModel)]="userObject.firstname"
      required
    />
    <input
      type="text"
      name="lastname"
      aria-label="Last name"
      class="form-control"
      placeholder="Last Name"
      [(ngModel)]="userObject.lastname"
      required
    />
  </div>
  <span class="text-danger" *ngIf="nameValidation()"
    >Must be at least 4 letters each and cannot contain number or special
    characters!</span
  >
  <div class="mb-3">
    <span class="form-label">Email address</span>
    <input
      type="email"
      name="email"
      class="form-control"
      aria-describedby="emailHelp"
      placeholder="example@example.com"
      autocomplete="on"
      [(ngModel)]="userObject.email"
      required
    />
    <div class="form-text">
      We'll never share your email with anyone else.
    </div>
    <span class="text-danger" *ngIf="emailValidation() || !emailIncludes()"
      >Must be the standard e-mail form!</span
    >
  </div>
  <div class="mb-3">
    <span class="form-label">Username:</span>
    <input
      type="text"
      name="username"
      class="form-control"
      autocomplete="on"
      [(ngModel)]="userObject.username"
      required
    />
    <span class="text-danger" *ngIf="usernameValidation()"
      >Must be at least 5 letters and cannot contain special characters (expect
      "." and numbers)!</span
    >
  </div>
  <div class="mb-3">
    <span class="form-label">Password:</span>
    <input
      type="password"
      name="password"
      class="form-control"
      [(ngModel)]="userObject.password"
      required
    />
  </div>
  <div class="mb-3">
    <span class="form-label"
      >Confirm Password:</span
    >
    <input
      type="password"
      name="confirmpassword"
      class="form-control"
      [(ngModel)]="userObject.confirmpassword"
      required
    />
    <span class="text-danger" *ngIf="passwordValidation() || lenghtPassword()"
      >Passwords do not match and must be at least 8 characters!</span
    >
  </div>
  <button
    type="button"
    class="btn btn-primary my-3 regBtn border-0"
    [ngClass]="
      !nameValidation() &&
      !emailValidation() &&
      emailIncludes() &&
      !usernameValidation() &&
      !passwordValidation() &&
      !lenghtPassword()
        ? ''
        : 'disabled'
    "
    (click)="onRegister()"
  >
    Registration
  </button>
  <div class="mt-2">
    <a routerLink="/entry" routerLinkActive="active">
      Already registered? Login
      <i class="bi bi-arrow-right"></i>
    </a>
  </div>
</form>
